.nbs-brand-primary {
  background-color: $nbs-brand-primary;
}

.nbs-brand-secondary {
  background-color: $nbs-brand-secondary;
}

.nbs-cta-primary {
  background-color: $nbs-cta-primary;
}

.nbs-cta-secondary {
  background-color: $nbs-cta-secondary;
}

.nbs-cta-tertiary {
  background-color: $nbs-cta-disabled;
}

.nbs-add-highlight {
  background-color: $nbs-add-highlight;
}

.nbs-add-success {
  background-color: $nbs-add-success;
}

.nbs-add-warning {
  background-color: $nbs-add-warning;
}

.nbs-add-failure {
  background-color: $nbs-add-failure;
}

.nbs-text-primary {
  background-color: $nbs-text-primary;
}

.nbs-text-secondary {
  background-color: $nbs-text-secondary;
}

.nbs-text-disabled {
  background-color: $nbs-text-disabled;
}

.nbs-utility-grey {
  background-color: $nbs-utility-grey;
}

.nbs-utility-grey-80 {
  background-color: $nbs-utility-grey-80;
}

.nbs-utility-grey-60 {
  background-color: $nbs-utility-grey-60;
}

.nbs-utility-grey-40 {
  background-color: $nbs-utility-grey-40;
}

.nbs-utility-grey-20 {
  background-color: $nbs-utility-grey-20;
}

.nbs-utility-grey-dark {
  background-color: $nbs-utility-grey-dark;
}
