h1 {
  font-size: 1.75rem;
  color: $nbs-brand-secondary;
  font-weight: $bold;
}

h2 {
  font-size: 1.25rem;
  color: $nbs-text-primary;
  font-weight: $regular;

  &.medium {
    font-weight: $medium;
  }

  &.bold {
    font-weight: $bold;
  }
}

h3 {
  font-size: 1.125rem;
  font-weight: $regular;
  color: $nbs-text-primary;

  &.medium {
    font-weight: $medium;
  }

  &.bold {
    font-weight: $bold;
  }
}

h4 {
  font-size: 1rem;
  font-weight: $bold;
  color: $nbs-brand-secondary;
}

h5 {
  font-size: 1rem;
  font-weight: $medium;
  color: $nbs-text-primary;
}

a {
  color: $nbs-cta-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

strong,
.bold {
  font-weight: 600;
}

blockquote {
  display: block;
  position: relative;
  margin: 1rem auto;
  padding: 0 0 0 1.875rem;
  color: $nbs-brand-secondary;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-style: oblique;
  font-weight: $regular;
  border-left: 5px solid $nbs-brand-secondary;

  p {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    color: $nbs-brand-secondary;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-style: oblique;
    font-weight: $regular;
    border: 0;
  }
}

aside {
  position: relative;
  margin: 1rem 0;
  padding: 2rem;
  font-weight: $regular;
  width: 100%;
  max-width: 23rem;
  border-left: 5px solid $nbs-cta-primary;
  border-right: 5px solid $nbs-cta-primary;
  font-size: .875rem;
}

sub {
  line-height: normal;
}
