<section class="constrain">
  <h2 class="medium">Dialogs</h2>
  <p>
    Modals, referred to as 'dialogs' in Angular, inform users about a task and contain critical information,
    require decisions or involve multiple tasks.
  </p>
  <p>
    Modals appear in front of app or website content and disable all app or website functionality when they appear. They
    remain on screen until confirmed, dismissed or a required action has been taken.
  </p>
  <p>
    Modals are purposefully interruptive, so they should be used sparingly.
  </p>

  <h3 class="medium">Principles</h3>
  <p>
    <strong>Focussed - </strong>Modals focus user attention to ensure their content is addressed
  </p>
  <p>
    <strong>Direct - </strong>Modals should be direct in communicating information and dedicated to completing a
    task
  </p>
  <p>
    <strong>Helpful - </strong>Modals should appear in response to a user task or and action, with relevant
    contextual information
  </p>

  <h3 class="medium">When to use</h3>
  <p>
    Modals should be used for:
  </p>

  <ul>
    <li>Errors that block an app or website's normal operation</li>
    <li>Critical information that requires a specific user task, decision or acknowledgement</li>
  </ul>

  <h3 class="medium">Guidance</h3>
  <p>
    For more information on the Angular implementation of dialogs, see the <a href="https://material.angular.io/components/dialog/overview">Angular Material dialogs article</a>.
  </p>
  <p>
    For more information on the Material Design principles of dialogs see the <a href="https://material.io/design/components/dialogs.html">Material Design dialogs article</a>
  </p>
</section>

<section>
  <h3 class="medium">Button to trigger modal</h3>
  <button class="mat-primary" mat-raised-button (click)="openDialog()">Show modal</button>
</section>