// Basic Colours
$white: #fff;
$black: #000;

// NBS brand identity
$nbs-brand-primary: #fff;
$nbs-brand-secondary: #592d5e;

// NBS action colours
$nbs-cta-primary: #007d9e;
$nbs-cta-secondary: #cce5ec;
$nbs-cta-tertiary: #f5f5f5;

// NBS additional colours
$nbs-add-highlight: #fdcc0b;
$nbs-add-success: #4bb45a;
$nbs-add-warning: #fb8b02;
$nbs-add-failure: #fc5753;

// NBS text colours
$nbs-text-primary: #333;
$nbs-text-secondary: #226d7c;
$nbs-text-disabled: #989898;

// NBS greys
$nbs-utility-grey: #dbe0de;
$nbs-grey-80: #e2e5e4;
$nbs-grey-60: #e9eae9;
$nbs-grey-40: #eff0ef;
$nbs-grey-20: #f6f6f5;
$nbs-grey-dark: #888;
