<section class="constrain">
	<h2 class="medium">Colour palette</h2>
  <p>At NBS, white and purple are core to our identity and appear on all communications. White space has an important role
		in our branding. It helps reduce clutter and creates clarity in our communications. We use white space to give our key
		messages the impact they deserve.
	</p>

  <h3 class="medium">Angular theming</h3>
  <p>
    The nbs-material.theme file contained in this project sets the primary, accent and warning colours for all of the
    Angular Material components that examples have been provided for. These colours should not be overriden or changed except in
    special circumstances.
  </p>

  <h3 class="medium">Core colours</h3>
	<p>
		<strong>NBS brand primary - </strong>should be used predominantly for H1 and background colours (e.g. on tooltips, toolbar).
  </p>
  <p>
    <strong>NBS cta primary - </strong>should be used for calls to action such as progressive action buttons and links.
  </p>
  <p>
    <strong>NBS text primary - </strong>should be used for body copy and all headings other than H1.
  </p>
  <p>
    <strong>NBS utility grey - </strong>should be used for borders, disabled buttons and similar element highlights.
  </p>

  <h3 class="medium">Additional colours</h3>
  <p>
    <strong>NBS add highlight - </strong>should be used as a background colour to highlight an element or text.
  </p>
  <p>
    <strong>NBS add success - </strong>should be used to indicate an action having been successfully completed.
  </p>
  <p>
    <strong>NBS add warning - </strong>should be used to indicate a non-critical issue to the user.
  </p>
  <p>
    <strong>NBS add failure - </strong>should be used to indicate an error or warning to the user.
  </p>

  <h3 class="medium">Colour combinations</h3>
  <p>
    For guidance on which colour combinations are appropriate, please see this <a
      href="https://xd.adobe.com/view/e001a107-94cc-451d-44df-c5391cba993d-9630/?fullscreen" target="_blank"
      rel="noopener" data-mce-href="https://xd.adobe.com/view/e001a107-94cc-451d-44df-c5391cba993d-9630/?fullscreen"
      data-mce-selected="1" text="XD document">Adobe XD document</a>.
  </p>

  <h3 class="medium">Use in code</h3>
  <p>
    All of the colours exist as .css classes (as shown in the code section) and are also available as .scss variables
    (also shown in the code section). When using these colours you should always use either the variables or the
    pre-written classes to avoid duplicating code.
  </p>
</section>

<section>
	<article>
		<h3 class="medium">
			NBS brand identity
		</h3>
		<div class="row">
			<div class="colour-blob nbs-brand-primary"></div>
			<span>$nbs-brand-primary</span>
      <span>#fff</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-brand-secondary"></div>
      <span>$nbs-brand-secondary</span>
      <span>#592d5e</span>
    </div>
  </article>

  <article>
    <h3 class="medium">
      NBS action colours
    </h3>
    <div class="row">
      <div class="colour-blob nbs-cta-primary"></div>
      <span>$nbs-cta-primary</span>
      <span>#007d9e</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-cta-secondary"></div>
      <span>$nbs-cta-secondary</span>
      <span>#cce5ec</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-cta-tertiary"></div>
      <span>$nbs-cta-disabled</span>
      <span>#f5f5f5</span>
    </div>
  </article>

  <article>
    <h3 class="medium">
      NBS text colours
    </h3>
    <div class="row">
      <div class="colour-blob nbs-text-primary"></div>
      <span>$nbs-text-primary</span>
      <span>#333</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-text-secondary"></div>
      <span>$nbs-text-secondary</span>
      <span>#226d7c</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-text-disabled"></div>
      <span>$nbs-text-disabled</span>
      <span>#989898</span>
    </div>
  </article>

  <article>
    <h3 class="medium">
      NBS additional colours
    </h3>
    <div class="row">
      <div class="colour-blob nbs-add-highlight"></div>
      <span>$nbs-add-highlight</span>
      <span>#fdcc0b</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-add-success"></div>
      <span>$nbs-add-success</span>
      <span>#4bb45a</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-add-warning"></div>
      <span>$nbs-add-warning</span>
      <span>#fb8b02</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-add-failure"></div>
      <span>$nbs-add-failure</span>
      <span>#fc5753</span>
    </div>
  </article>

  <article>
    <h3 class="medium">
      NBS greys
    </h3>
    <div class="row">
      <div class="colour-blob nbs-utility-grey-dark"></div>
      <span>$nbs-utility-grey-dark</span>
      <span>#888</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-utility-grey"></div>
      <span>$nbs-utility-grey</span>
      <span>#dbe0de</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-utility-grey-80"></div>
      <span>$nbs-utility-grey-80</span>
      <span>#e2e5e4</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-utility-grey-60"></div>
      <span>$nbs-utility-grey-60</span>
      <span>#e9eae9</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-utility-grey-40"></div>
      <span>$nbs-utility-grey-40</span>
      <span>#eff0ef</span>
    </div>
    <div class="row">
      <div class="colour-blob nbs-utility-grey-20"></div>
      <span>$nbs-utility-grey-20</span>
      <span>#f6f6f5</span>
    </div>
  </article>
</section>
