<section class="constrain">
  <h2 class="medium">Brand typography</h2>
  <p>
    The proper use of headings is important for search engines which use them to index the structure and content of
    pages.
  </p>
  <p>
    Furthermore, they serve to improve the readability of often complex interfaces, visually setting out the structure
    of page
    content and making them easier to read for users.
  </p>

  <h3 class="medium">Typography in Angular</h3>
  <p>
    The nbs-material.theme file included in this project sets up all of the core typographical elements, additional
    classes are
    provided in the base > typography file to supliment the theme and provide a greater diversity of options.
  </p>

  <h3 class="medium">Azo Sans</h3>
  <p>
    Azo Sans has been chosen as our primary typeface for its modernity, simplicity and its close visual link to the NBS
    logo.
  </p>
  <p>
    Our websites should use the Azo Sans Web variant and use the font-weight CSS rule to adjust the weight of the font.
  </p>

  <h3 class="medium">Acceptable alternatives</h3>
  <p>
    When Azo Sans Web is not available you should use Arial as the fallback font.
  </p>

  <h3 class="medium">Colour, case, justification, etc.</h3>
  <p>
    Headlines, titles and callouts may appear in NBS Primary. Small annotations may also appear in NBS Secondary. Body
    copy should
    appear in NBS Primary Text.
  </p>
  <p>
    Sentence case is standard for all communications. Try to avoid using all uppercase wherever possible.
  </p>
  <p>
    Type should always be aligned left. Avoid lines that end with hyphens, widows and orphans.
  </p>
  <p>
    Italics can be used in special projects on a case by case basis.
  </p>
</section>

<section class="typography">
  <div class="font-settings">
    <h1>H1 - Heading 1</h1>
    <span>28px / 1.875rem</span>
    <span>Bold / 600</span>
    <span>$nbs-text-primary / #333</span>
  </div>

  <div class="font-settings">
    <h2>H2 - Heading 2</h2>
    <span>24px / 1.5rem</span>
    <span>Medium / 500</span>
    <span>$nbs-text-primary / #333</span>
  </div>

  <div class="font-settings">
    <h3>H3 - Heading 3</h3>
    <span>20px / 1.25rem</span>
    <span>Medium / 500</span>
    <span>$nbs-text-primary / #333</span>
  </div>

  <div class="font-settings">
    <h4>H4 - Heading 4</h4>
    <span>18px / 1.125rem</span>
    <span>Bold / 600</span>
    <span>$nbs-text-primary / #333</span>
  </div>

  <div class="font-settings">
    <h5>H5 - Heading 5</h5>
    <span>16px / 1rem</span>
    <span>Medium / 500</span>
    <span>$nbs-text-primary / #333</span>
  </div>

  <div class="font-settings">
    <p>P - Paragraph</p>
    <span>16px / 1rem</span>
    <span>Regular / 400</span>
    <span>$nbs-text-primary / #333</span>
  </div>

  <div class="font-settings">
    <a href="#">A - Anchor tags</a>
    <span>16px / 1rem</span>
    <span>Regular / 400</span>
    <span>$nbs-cta-primary / #007d9e</span>
  </div>

  <div class="font-settings">
    <p class="hint">Hint</p>
    <span>11px / .6875rem</span>
    <span>Regular / 400</span>
    <span>$nbs-text-primary / #333</span>
    <span>Opacity 60%</span>
  </div>
</section>
