<header>
	<h1>NBS Angular base project</h1>
	<p>
		This basic app should provide all of the configuration, styles and components you will need to get started with a new Angular
		app while working at NBS.
	</p>
</header>

<mat-tab-group>
	<mat-tab label="Colour palette">
		<ng-template matTabContent> 
			<nbs-colours></nbs-colours>
		</ng-template>
	</mat-tab>
	<mat-tab label="Typography">
		<ng-template matTabContent>
			<nbs-typography></nbs-typography>
		</ng-template>
	</mat-tab>
	<mat-tab label="Brand forms">
		<ng-template matTabContent>
			<nbs-forms></nbs-forms>
		</ng-template>
	</mat-tab>
	<mat-tab label="Buttons">
		<ng-template matTabContent>
			<nbs-buttons></nbs-buttons>
		</ng-template>
	</mat-tab>
	<mat-tab label="Chips">
		<ng-template matTabContent>
			<nbs-chips></nbs-chips>
		</ng-template>
	</mat-tab>
	<mat-tab label="Cards">
		<ng-template matTabContent>
			<nbs-cards></nbs-cards>
		</ng-template>
	</mat-tab>
	<mat-tab label="Menus">
		<ng-template matTabContent>
			<nbs-menus></nbs-menus>
		</ng-template>
	</mat-tab>
	<mat-tab label="Modals">
		<ng-template matTabContent>
			<nbs-modals></nbs-modals>
		</ng-template>
	</mat-tab>
	<mat-tab label="Tooltips">
		<ng-template matTabContent>
			<nbs-tooltips></nbs-tooltips>
		</ng-template>
	</mat-tab>
	<mat-tab label="Toasts">
		<ng-template matTabContent>
			<nbs-toasts></nbs-toasts>
		</ng-template>
	</mat-tab>
	<mat-tab label="Toolbar">
		<ng-template matTabContent>
			<nbs-toolbar></nbs-toolbar>
		</ng-template>
	</mat-tab>
	<mat-tab label="Sidebar">
		<ng-template matTabContent>
			<nbs-sidebar></nbs-sidebar>
		</ng-template>
	</mat-tab>
	<mat-tab label="Layouts">
		<ng-template matTabContent>
			<nbs-layouts></nbs-layouts>
		</ng-template>
	</mat-tab>
	<mat-tab label="Animations">
		<ng-template matTabContent>
			<nbs-animations></nbs-animations>
		</ng-template>
	</mat-tab>
</mat-tab-group>